<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<script src="/javascripts/index.js" defer></script>
<%- include('partials/header2') %>
  <div class="content">
    <h2>Popular ></h2>
    <div id="popular">
      <a href="/videos/<%=videos[0].uri%>">
        <div class="container">
          <div class="img-p-container">
            <img src="http://img.youtube.com/vi/<%=videos[0].uri%>/0.jpg" />
            <p class="topleft"><%=videos[0].title%></p>
          </div>
        </div>
      </a>
      <a href="/videos/<%=videos[1].uri%>">
        <div class="container">
          <div class="img-p-container">
            <img src="http://img.youtube.com/vi/<%=videos[1].uri%>/0.jpg" />
            <p class="topleft"><%=videos[1].title%></p>
          </div>
        </div>
      </a>
    </div>
    <div class="videos-row">
      <a href="/videos/<%=videos[2].uri%>">
        <div class="container">
          <div class="img-p-container">
            <button class="center-left arrow"><</button>
            <img src="http://img.youtube.com/vi/<%=videos[2].uri%>/0.jpg" />
            <p class="topleft"><%=videos[2].title%></p>
          </div>
        </div>
      </a>
      <% for(let i = 3; i < 6; i++) { %>
      <a href="/videos/<%=videos[i].uri%>">
        <div class="container">
          <div class="img-p-container">
            <img src="http://img.youtube.com/vi/<%=videos[i].uri%>/0.jpg" />
            <p class="topleft"><%=videos[i].title%></p>
          </div>
        </div>
      <% } %>
      <a href="/videos/<%=videos[videos.length-1].uri%>">
        <div class="container">
          <div class="img-p-container">
            <img src="http://img.youtube.com/vi/<%=videos[videos.length-1].uri%>/0.jpg" />
            <p class="topleft"><%=videos[videos.length-1].title%></p>
            <button class="center-right arrow">></button>
          </div>
        </div>
      </a>
    </div>
  </div>
<%- include('partials/footer') %>
