<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/videos.css" />
<script src="../../public/javascripts/videos.js" defer></script>
<%- include('../partials/header2') %>
  <div class="container">
    <h1>Video Title</h1>
    <div id="iframe-container">
      <iframe src="https://www.youtube.com/embed/<%=id%>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="comment-section">
      <h2>Comments</h2>
      <div class="comment">
        <img src="<%= user.avatar %>"/>
        <form action="/videos/<%=id%>/comment/new" method="POST">
          <textarea rows="1" type="text" placeholder="Add public comment..."></textarea>
          <button type="submit">COMMENT</button>
        </form>
      </div>
      <div class="comment">
        <img src="<%=user.avatar%>"/>
        <div>
          <h3><%=user.name%></h3>
          <p>This is a users comment</p>
        </div>
      </div>
    </div>
  </div>
<%- include('../partials/footer') %>