<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/videos.css" />
<script src="/javascripts/videos.js" defer></script>
<%- include('../partials/header2') %>
  <div class="container" id="<%=id%>">
    <h1>Video Title</h1>
    <div id="iframe-container">
      <iframe src="https://www.youtube.com/embed/<%=id%>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="comment">
      <h2>Comments</h2>
      <div class="comment">
        <img src="<%= user.avatar %>"/>
        <form action="/videos/<%=id%>/comment/new" method="POST">
          <textarea rows="1" type="text" placeholder="Add public comment..." name="comment"></textarea>
          <button type="submit">COMMENT</button>
        </form>
      </div>
      <% for(const comment of comments) { %>
        <div class="comment">
          <% if (comment.user.avatar) { %>
            <img src="<%= comment.user.avatar %>"/>
          <% } else { %>
            <img src="/images/avatar.png"/>
          <% } %>
          <div class="context">
            <div>
              <h3><%=comment.user.name%></h3>
              <p><%= comment.text %></p>
            </div>
            <% if(comment.user._id.equals(user._id)) { %>
              <div class="dot-container" id="<%= comment._id %>">
                <button class="dots"></button>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<%- include('../partials/footer') %>